@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,700&display=swap');

$font_regular: 'Roboto', Arial, sans-serif;
$font_headings: 'Roboto', Arial, sans-serif;

//Colours
$primary: #003462;
$primary_light: #9cacbd;
$secondary: #72c6a7;
$secondary_light: #e8f6f0;

//Neutrals
$main: #1c1e23;
$grey_light: #eeeeee;
$grey: #808080;

//Event Colours
$yellow: #f5b335;
$blue: #5f99af;
$purple: #702c63;
$green: #70d44b;
$orange: #ff9015;
$red: #b12028;