@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,700&display=swap');

$font_regular: 'Roboto', Arial, sans-serif;
$font_headings: 'Roboto', Arial, sans-serif;

$yellow: #F9ED31;
$blue: #00A9A3;
$purple: #6F2B8D;
$green: #BED73B;
$orange: #F15A29;
$maroon: #BE1E2D;

//Colours
$primary: $yellow;
$secondary: $blue;

//Neutrals
$main: #000000;
$white: #ffffff;
$grey: #666666;
